src/complexType/view/Base.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.satcblue.cn/XMLSchema/HuaWeiCreative"
           xmlns="https://www.satcblue.cn/XMLSchema/HuaWeiCreative"
           elementFormDefault="qualified">
    <xs:complexType name="Base">
        <xs:annotation>
            <xs:documentation>
                通用属性为视图组件共有的一系列属性，提供了默认的属性和设置，如果在支持通用属性的视图组件中存在与通用属性相同的属性名，以视图组件的说明为准。支持通用属性的组件标签见通用属性支持列表。
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>元素变量名，在支持表达式的情况中使用@name的格式来取当前变量的值。</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="x" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>相对于屏幕左上角的x坐标，单位为像素，显示范围为屏幕的宽，默认为0，支持表达式。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="y" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>相对于屏幕左上角的y坐标，单位为像素，显示范围为屏幕的高，默认为0，支持表达式。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="width" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>显示在屏幕上的宽，单位为像素，显示范围为屏幕的宽，支持表达式，w和width写法都可以。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="height" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>显示在屏幕上的高，单位为像素，显示范围为屏幕的高，支持表达式，h和height写法都可以。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="w" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>显示在屏幕上的宽，单位为像素，显示范围为屏幕的宽，支持表达式，w和width写法都可以。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="h" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>显示在屏幕上的高，单位为像素，显示范围为屏幕的高，支持表达式，h和height写法都可以。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pivotX" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    旋转的点的X坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotX和centerX写法都可以。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pivotY" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    旋转的点的Y坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotY和centerY写法都可以。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rotation" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    旋转角度，一周360度，围绕(pivotX,pivotY)点旋转（若无pivotX和pivotY，则默认(0,0)点旋转），支持表达式。正数表示顺时针，负数表示逆时针，rotation和angle写法都可以。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rotationX" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    以X轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationX和angleX写法都可以。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rotationY" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    以Y轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationY和angleY写法都可以。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="alpha" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>透明度，0-255，默认为255，当值小于0时则该值取0，当值大于255时，该值取255，支持表达式。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="visibility" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>元素可见性，&lt;=0 不可见 &gt;0可见，true为可见，false为不可见，默认为1，支持表达式。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="category" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>取值"Normal", "Charging", "BatteryLow",
                    "BatteryFull"，表示当手机处于指定充电状态时显示该元素。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="align" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>坐标点水平对齐方式left, center,
                    right，对齐的效果为view的左上角x坐标分别表示该view的左、中、右位置。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="alignV" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>坐标点垂直对齐方式top, center,
                    bottom，对齐的效果为view的左上角y坐标分别表示该view的上、中、下位置。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enableMove" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    元素是否支持移动，当值为false或者0时表示不可移动，当值为true或者非0值表示可移动，默认为0。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="moveRect" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    移动区域，当enableMove为可移动时有效。格式为moveRect="minH,minV,maxH,maxV"，分别表示：最小水平移动，最小垂直移动，最大水平移动，最大垂直移动。四个参数类型为数值，单位为像素，不支持表达式。例如：移动目标的原坐标为(x,y)，则该目标水平方向的移动范围是：(x+minH)~(x+maxH)，垂直方向的移动范围是：(y+minV)~(y+maxV)。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="active" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>激活状态，0代表不激活，视图不显示，所有的动画和可见性均失效，默认值1。</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RemoveNABase">
        <xs:annotation>
            <xs:documentation>
                通用属性为视图组件共有的一系列属性，提供了默认的属性和设置，如果在支持通用属性的视图组件中存在与通用属性相同的属性名，以视图组件的说明为准。支持通用属性的组件标签见通用属性支持列表。
                去除 name,alpha
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="Base">
                <xs:attribute name="x" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的x坐标，单位为像素，显示范围为屏幕的宽，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的y坐标，单位为像素，显示范围为屏幕的高，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="width" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            显示在屏幕上的宽，单位为像素，显示范围为屏幕的宽，支持表达式，w和width写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="height" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            显示在屏幕上的高，单位为像素，显示范围为屏幕的高，支持表达式，h和height写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="w" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            显示在屏幕上的宽，单位为像素，显示范围为屏幕的宽，支持表达式，w和width写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="h" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            显示在屏幕上的高，单位为像素，显示范围为屏幕的高，支持表达式，h和height写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的X坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotX和centerX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的Y坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotY和centerY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotation" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转角度，一周360度，围绕(pivotX,pivotY)点旋转（若无pivotX和pivotY，则默认(0,0)点旋转），支持表达式。正数表示顺时针，负数表示逆时针，rotation和angle写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotationX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            以X轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationX和angleX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotationY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            以Y轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationY和angleY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visibility" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>元素可见性，&lt;=0 不可见
                            &gt;0可见，true为可见，false为不可见，默认为1，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="category" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>取值"Normal", "Charging", "BatteryLow",
                            "BatteryFull"，表示当手机处于指定充电状态时显示该元素。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="align" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点水平对齐方式left, center,
                            right，对齐的效果为view的左上角x坐标分别表示该view的左、中、右位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="alignV" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点垂直对齐方式top, center,
                            bottom，对齐的效果为view的左上角y坐标分别表示该view的上、中、下位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enableMove" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            元素是否支持移动，当值为false或者0时表示不可移动，当值为true或者非0值表示可移动，默认为0。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="moveRect" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            移动区域，当enableMove为可移动时有效。格式为moveRect="minH,minV,maxH,maxV"，分别表示：最小水平移动，最小垂直移动，最大水平移动，最大垂直移动。四个参数类型为数值，单位为像素，不支持表达式。例如：移动目标的原坐标为(x,y)，则该目标水平方向的移动范围是：(x+minH)~(x+maxH)，垂直方向的移动范围是：(y+minV)~(y+maxV)。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="active" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>激活状态，0代表不激活，视图不显示，所有的动画和可见性均失效，默认值1。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RemoveWHBase">
        <xs:annotation>
            <xs:documentation>
                通用属性为视图组件共有的一系列属性，提供了默认的属性和设置，如果在支持通用属性的视图组件中存在与通用属性相同的属性名，以视图组件的说明为准。支持通用属性的组件标签见通用属性支持列表。
                去除 width,height
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="Base">
                <xs:attribute name="x" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的x坐标，单位为像素，显示范围为屏幕的宽，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的y坐标，单位为像素，显示范围为屏幕的高，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="pivotX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的X坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotX和centerX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的Y坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotY和centerY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotation" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转角度，一周360度，围绕(pivotX,pivotY)点旋转（若无pivotX和pivotY，则默认(0,0)点旋转），支持表达式。正数表示顺时针，负数表示逆时针，rotation和angle写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotationX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            以X轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationX和angleX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotationY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            以Y轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationY和angleY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="alpha" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>透明度，0-255，默认为255，当值小于0时则该值取0，当值大于255时，该值取255，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visibility" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>元素可见性，&lt;=0 不可见
                            &gt;0可见，true为可见，false为不可见，默认为1，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="category" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>取值"Normal", "Charging", "BatteryLow",
                            "BatteryFull"，表示当手机处于指定充电状态时显示该元素。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="align" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点水平对齐方式left, center,
                            right，对齐的效果为view的左上角x坐标分别表示该view的左、中、右位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="alignV" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点垂直对齐方式top, center,
                            bottom，对齐的效果为view的左上角y坐标分别表示该view的上、中、下位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enableMove" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            元素是否支持移动，当值为false或者0时表示不可移动，当值为true或者非0值表示可移动，默认为0。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="moveRect" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            移动区域，当enableMove为可移动时有效。格式为moveRect="minH,minV,maxH,maxV"，分别表示：最小水平移动，最小垂直移动，最大水平移动，最大垂直移动。四个参数类型为数值，单位为像素，不支持表达式。例如：移动目标的原坐标为(x,y)，则该目标水平方向的移动范围是：(x+minH)~(x+maxH)，垂直方向的移动范围是：(y+minV)~(y+maxV)。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="active" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>激活状态，0代表不激活，视图不显示，所有的动画和可见性均失效，默认值1。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RemoveNAHWMBase">
        <xs:annotation>
            <xs:documentation>
                通用属性为视图组件共有的一系列属性，提供了默认的属性和设置，如果在支持通用属性的视图组件中存在与通用属性相同的属性名，以视图组件的说明为准。支持通用属性的组件标签见通用属性支持列表。
                去除 alpha,width,height,enableMove,moveRect
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="Base">
                <xs:attribute name="x" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的x坐标，单位为像素，显示范围为屏幕的宽，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的y坐标，单位为像素，显示范围为屏幕的高，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的X坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotX和centerX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的Y坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotY和centerY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotation" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转角度，一周360度，围绕(pivotX,pivotY)点旋转（若无pivotX和pivotY，则默认(0,0)点旋转），支持表达式。正数表示顺时针，负数表示逆时针，rotation和angle写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotationX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            以X轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationX和angleX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotationY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            以Y轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationY和angleY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visibility" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>元素可见性，&lt;=0 不可见
                            &gt;0可见，true为可见，false为不可见，默认为1，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="category" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>取值"Normal", "Charging", "BatteryLow",
                            "BatteryFull"，表示当手机处于指定充电状态时显示该元素。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="align" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点水平对齐方式left, center,
                            right，对齐的效果为view的左上角x坐标分别表示该view的左、中、右位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="alignV" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点垂直对齐方式top, center,
                            bottom，对齐的效果为view的左上角y坐标分别表示该view的上、中、下位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="active" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>激活状态，0代表不激活，视图不显示，所有的动画和可见性均失效，默认值1。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RemoveNAWHBase">
        <xs:annotation>
            <xs:documentation>
                通用属性为视图组件共有的一系列属性，提供了默认的属性和设置，如果在支持通用属性的视图组件中存在与通用属性相同的属性名，以视图组件的说明为准。支持通用属性的组件标签见通用属性支持列表。
                去除 name,alpha,width,height
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="Base">
                <xs:attribute name="x" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的x坐标，单位为像素，显示范围为屏幕的宽，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的y坐标，单位为像素，显示范围为屏幕的高，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的X坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotX和centerX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的Y坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotY和centerY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotation" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转角度，一周360度，围绕(pivotX,pivotY)点旋转（若无pivotX和pivotY，则默认(0,0)点旋转），支持表达式。正数表示顺时针，负数表示逆时针，rotation和angle写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotationX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            以X轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationX和angleX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotationY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            以Y轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationY和angleY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visibility" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>元素可见性，&lt;=0 不可见 &gt;0可见，true为可见，false为不可见，默认为1，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="category" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>取值"Normal", "Charging", "BatteryLow",
                            "BatteryFull"，表示当手机处于指定充电状态时显示该元素。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="align" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点水平对齐方式left, center,
                            right，对齐的效果为view的左上角x坐标分别表示该view的左、中、右位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="alignV" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点垂直对齐方式top, center,
                            bottom，对齐的效果为view的左上角y坐标分别表示该view的上、中、下位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enableMove" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            元素是否支持移动，当值为false或者0时表示不可移动，当值为true或者非0值表示可移动，默认为0。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="moveRect" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            移动区域，当enableMove为可移动时有效。格式为moveRect="minH,minV,maxH,maxV"，分别表示：最小水平移动，最小垂直移动，最大水平移动，最大垂直移动。四个参数类型为数值，单位为像素，不支持表达式。例如：移动目标的原坐标为(x,y)，则该目标水平方向的移动范围是：(x+minH)~(x+maxH)，垂直方向的移动范围是：(y+minV)~(y+maxV)。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="active" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>激活状态，0代表不激活，视图不显示，所有的动画和可见性均失效，默认值1。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RemoveWHRBase">
        <xs:annotation>
            <xs:documentation>
                通用属性为视图组件共有的一系列属性，提供了默认的属性和设置，如果在支持通用属性的视图组件中存在与通用属性相同的属性名，以视图组件的说明为准。支持通用属性的组件标签见通用属性支持列表。
                去除 width,height,rotationX,rotationY
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="Base">
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>元素变量名，在支持表达式的情况中使用@name的格式来取当前变量的值。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="x" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的x坐标，单位为像素，显示范围为屏幕的宽，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的y坐标，单位为像素，显示范围为屏幕的高，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的X坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotX和centerX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的Y坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotY和centerY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotation" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转角度，一周360度，围绕(pivotX,pivotY)点旋转（若无pivotX和pivotY，则默认(0,0)点旋转），支持表达式。正数表示顺时针，负数表示逆时针，rotation和angle写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="alpha" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>透明度，0-255，默认为255，当值小于0时则该值取0，当值大于255时，该值取255，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visibility" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>元素可见性，&lt;=0 不可见 &gt;0可见，true为可见，false为不可见，默认为1，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="category" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>取值"Normal", "Charging", "BatteryLow",
                            "BatteryFull"，表示当手机处于指定充电状态时显示该元素。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="align" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点水平对齐方式left, center,
                            right，对齐的效果为view的左上角x坐标分别表示该view的左、中、右位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="alignV" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点垂直对齐方式top, center,
                            bottom，对齐的效果为view的左上角y坐标分别表示该view的上、中、下位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enableMove" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            元素是否支持移动，当值为false或者0时表示不可移动，当值为true或者非0值表示可移动，默认为0。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="moveRect" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            移动区域，当enableMove为可移动时有效。格式为moveRect="minH,minV,maxH,maxV"，分别表示：最小水平移动，最小垂直移动，最大水平移动，最大垂直移动。四个参数类型为数值，单位为像素，不支持表达式。例如：移动目标的原坐标为(x,y)，则该目标水平方向的移动范围是：(x+minH)~(x+maxH)，垂直方向的移动范围是：(y+minV)~(y+maxV)。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="active" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>激活状态，0代表不激活，视图不显示，所有的动画和可见性均失效，默认值1。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RemoveCategoryBase">
        <xs:annotation>
            <xs:documentation>
                通用属性为视图组件共有的一系列属性，提供了默认的属性和设置，如果在支持通用属性的视图组件中存在与通用属性相同的属性名，以视图组件的说明为准。支持通用属性的组件标签见通用属性支持列表。
                去除 category
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="Base">
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>元素变量名，在支持表达式的情况中使用@name的格式来取当前变量的值。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="x" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的x坐标，单位为像素，显示范围为屏幕的宽，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>相对于屏幕左上角的y坐标，单位为像素，显示范围为屏幕的高，默认为0，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="width" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>显示在屏幕上的宽，单位为像素，显示范围为屏幕的宽，支持表达式，w和width写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="height" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>显示在屏幕上的高，单位为像素，显示范围为屏幕的高，支持表达式，h和height写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="w" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>显示在屏幕上的宽，单位为像素，显示范围为屏幕的宽，支持表达式，w和width写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="h" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>显示在屏幕上的高，单位为像素，显示范围为屏幕的高，支持表达式，h和height写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的X坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotX和centerX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pivotY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转的点的Y坐标，相对于View的左上角位置，单位为像素，支持表达式，pivotY和centerY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotation" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            旋转角度，一周360度，围绕(pivotX,pivotY)点旋转（若无pivotX和pivotY，则默认(0,0)点旋转），支持表达式。正数表示顺时针，负数表示逆时针，rotation和angle写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotationX" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            以X轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationX和angleX写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rotationY" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            以Y轴为旋转中心旋转，一周360度，支持表达式。正数表示顺时针，负数表示逆时针，rotationY和angleY写法都可以。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="alpha" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>透明度，0-255，默认为255，当值小于0时则该值取0，当值大于255时，该值取255，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visibility" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>元素可见性，&lt;=0 不可见 &gt;0可见，true为可见，false为不可见，默认为1，支持表达式。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="align" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点水平对齐方式left, center,
                            right，对齐的效果为view的左上角x坐标分别表示该view的左、中、右位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="alignV" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>坐标点垂直对齐方式top, center,
                            bottom，对齐的效果为view的左上角y坐标分别表示该view的上、中、下位置。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enableMove" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            元素是否支持移动，当值为false或者0时表示不可移动，当值为true或者非0值表示可移动，默认为0。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="moveRect" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            移动区域，当enableMove为可移动时有效。格式为moveRect="minH,minV,maxH,maxV"，分别表示：最小水平移动，最小垂直移动，最大水平移动，最大垂直移动。四个参数类型为数值，单位为像素，不支持表达式。例如：移动目标的原坐标为(x,y)，则该目标水平方向的移动范围是：(x+minH)~(x+maxH)，垂直方向的移动范围是：(y+minV)~(y+maxV)。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="active" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>激活状态，0代表不激活，视图不显示，所有的动画和可见性均失效，默认值1。
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>

    </xs:complexType>
</xs:schema>
