src/complexType/view/GeometricalBase.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.satcblue.cn/XMLSchema/HuaWeiCreative">
    <xs:include schemaLocation="../../complexType/view/Base.xsd"/>
    <xs:complexType name="GeometricalBase">
        <xs:annotation>
            <xs:documentation>
                几何图形基本属性
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Base">
                <xs:attribute name="x" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点x坐标；Rectangle 为左上角坐标x坐标，直线为起点坐标x坐标，其余的几何图形均为中心点坐标x坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点y坐标；Rectangle 为左上角坐标y坐标，直线为起点坐标y坐标，其余的几何图形均为中心点坐标y坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="strokeColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边颜色。支持6位或8位16进制颜色表示，如：#FFFFFF 、#FFFFFFFF，
                            8位中前两位表示透明度，后六位依次表示红、绿、蓝；支持函数argb(255,255,255,255)
                            (argb(透明度，红，绿，蓝)，每个数值在[0-255]范围内）；支持字符串变量，
                            如：@abc，字符串变量需为无#的6或8位16进制表示："ffffff"、“ffffffff"，或argb函数。默认黑色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="fillColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            填充色，支持strokeColor中三种颜色表示。同时，支持通过变量动态改变填充颜色和渐变填充色（FillGradient）。
                            注意：在需要动态改变渐变填充色时需要先设置@color="argb(0,0,0,0)+argb(15,5,5,5)+argb(25,3,10,0)"，
                            并且此时FillGradient中颜色、位置依旧得设置，只是后期可以通过改变@color变量的值动态修改渐变色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="weight" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边宽度，自然数，默认0无描边，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cap" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            线头形状，semicircle/square。semicircle（半圆）, square（方形）,不写表示无线头
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="dottedLine" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            虚线模式。格式“线长,间隔,线长,间隔….”。如dottedLine=”10,20,30,40”，
                            表示10像素宽的线段，20像素的间隔，30像素的线段，40像素的间隔，以上虚线重复出现构成几何图形描边。注：至少两个参数
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="hybridMode" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            共有12种混合模式供选择：clear(0)， ori(1)，tgt(2)，oriOver(3)，tgtOver(4)，
                            oriIn(5)，tgtIn(6)，oriOut(7)，tgtOut(8)，oriATop(9)，tgtATop(10)，xor(11)。
                            可以通过输入字符串或者对应的数字编号来选择混合模式，需要与Group联合使用
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>
    <xs:complexType name="RemoveNABaseGeometricalBase">
        <xs:annotation>
            <xs:documentation>
                几何图形基本属性
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RemoveNABase">
                <xs:attribute name="x" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点x坐标；Rectangle 为左上角坐标x坐标，直线为起点坐标x坐标，其余的几何图形均为中心点坐标x坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点y坐标；Rectangle 为左上角坐标y坐标，直线为起点坐标y坐标，其余的几何图形均为中心点坐标y坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="strokeColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边颜色。支持6位或8位16进制颜色表示，如：#FFFFFF 、#FFFFFFFF，
                            8位中前两位表示透明度，后六位依次表示红、绿、蓝；支持函数argb(255,255,255,255)
                            (argb(透明度，红，绿，蓝)，每个数值在[0-255]范围内）；支持字符串变量，
                            如：@abc，字符串变量需为无#的6或8位16进制表示："ffffff"、“ffffffff"，或argb函数。默认黑色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="fillColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            填充色，支持strokeColor中三种颜色表示。同时，支持通过变量动态改变填充颜色和渐变填充色（FillGradient）。
                            注意：在需要动态改变渐变填充色时需要先设置@color="argb(0,0,0,0)+argb(15,5,5,5)+argb(25,3,10,0)"，
                            并且此时FillGradient中颜色、位置依旧得设置，只是后期可以通过改变@color变量的值动态修改渐变色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="weight" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边宽度，自然数，默认0无描边，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cap" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            线头形状，semicircle/square。semicircle（半圆）, square（方形）,不写表示无线头
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="dottedLine" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            虚线模式。格式“线长,间隔,线长,间隔….”。如dottedLine=”10,20,30,40”，
                            表示10像素宽的线段，20像素的间隔，30像素的线段，40像素的间隔，以上虚线重复出现构成几何图形描边。注：至少两个参数
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="hybridMode" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            共有12种混合模式供选择：clear(0)， ori(1)，tgt(2)，oriOver(3)，tgtOver(4)，
                            oriIn(5)，tgtIn(6)，oriOut(7)，tgtOut(8)，oriATop(9)，tgtATop(10)，xor(11)。
                            可以通过输入字符串或者对应的数字编号来选择混合模式，需要与Group联合使用
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>
    <xs:complexType name="RemoveNAHWMBaseGeometricalBase">
        <xs:annotation>
            <xs:documentation>
                几何图形基本属性
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RemoveNAHWMBase">
                <xs:attribute name="x" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点x坐标；Rectangle 为左上角坐标x坐标，直线为起点坐标x坐标，其余的几何图形均为中心点坐标x坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点y坐标；Rectangle 为左上角坐标y坐标，直线为起点坐标y坐标，其余的几何图形均为中心点坐标y坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="strokeColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边颜色。支持6位或8位16进制颜色表示，如：#FFFFFF 、#FFFFFFFF，
                            8位中前两位表示透明度，后六位依次表示红、绿、蓝；支持函数argb(255,255,255,255)
                            (argb(透明度，红，绿，蓝)，每个数值在[0-255]范围内）；支持字符串变量，
                            如：@abc，字符串变量需为无#的6或8位16进制表示："ffffff"、“ffffffff"，或argb函数。默认黑色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="fillColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            填充色，支持strokeColor中三种颜色表示。同时，支持通过变量动态改变填充颜色和渐变填充色（FillGradient）。
                            注意：在需要动态改变渐变填充色时需要先设置@color="argb(0,0,0,0)+argb(15,5,5,5)+argb(25,3,10,0)"，
                            并且此时FillGradient中颜色、位置依旧得设置，只是后期可以通过改变@color变量的值动态修改渐变色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="weight" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边宽度，自然数，默认0无描边，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cap" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            线头形状，semicircle/square。semicircle（半圆）, square（方形）,不写表示无线头
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="dottedLine" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            虚线模式。格式“线长,间隔,线长,间隔….”。如dottedLine=”10,20,30,40”，
                            表示10像素宽的线段，20像素的间隔，30像素的线段，40像素的间隔，以上虚线重复出现构成几何图形描边。注：至少两个参数
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="hybridMode" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            共有12种混合模式供选择：clear(0)， ori(1)，tgt(2)，oriOver(3)，tgtOver(4)，
                            oriIn(5)，tgtIn(6)，oriOut(7)，tgtOut(8)，oriATop(9)，tgtATop(10)，xor(11)。
                            可以通过输入字符串或者对应的数字编号来选择混合模式，需要与Group联合使用
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>
    <xs:complexType name="RemoveNAWHBaseGeometricalBase">
        <xs:annotation>
            <xs:documentation>
                几何图形基本属性
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RemoveNAWHBase">
                <xs:attribute name="x" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点x坐标；Rectangle 为左上角坐标x坐标，直线为起点坐标x坐标，其余的几何图形均为中心点坐标x坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点y坐标；Rectangle 为左上角坐标y坐标，直线为起点坐标y坐标，其余的几何图形均为中心点坐标y坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="strokeColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边颜色。支持6位或8位16进制颜色表示，如：#FFFFFF 、#FFFFFFFF，
                            8位中前两位表示透明度，后六位依次表示红、绿、蓝；支持函数argb(255,255,255,255)
                            (argb(透明度，红，绿，蓝)，每个数值在[0-255]范围内）；支持字符串变量，
                            如：@abc，字符串变量需为无#的6或8位16进制表示："ffffff"、“ffffffff"，或argb函数。默认黑色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="fillColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            填充色，支持strokeColor中三种颜色表示。同时，支持通过变量动态改变填充颜色和渐变填充色（FillGradient）。
                            注意：在需要动态改变渐变填充色时需要先设置@color="argb(0,0,0,0)+argb(15,5,5,5)+argb(25,3,10,0)"，
                            并且此时FillGradient中颜色、位置依旧得设置，只是后期可以通过改变@color变量的值动态修改渐变色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="weight" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边宽度，自然数，默认0无描边，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cap" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            线头形状，semicircle/square。semicircle（半圆）, square（方形）,不写表示无线头
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="dottedLine" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            虚线模式。格式“线长,间隔,线长,间隔….”。如dottedLine=”10,20,30,40”，
                            表示10像素宽的线段，20像素的间隔，30像素的线段，40像素的间隔，以上虚线重复出现构成几何图形描边。注：至少两个参数
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="hybridMode" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            共有12种混合模式供选择：clear(0)， ori(1)，tgt(2)，oriOver(3)，tgtOver(4)，
                            oriIn(5)，tgtIn(6)，oriOut(7)，tgtOut(8)，oriATop(9)，tgtATop(10)，xor(11)。
                            可以通过输入字符串或者对应的数字编号来选择混合模式，需要与Group联合使用
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>
    <xs:complexType name="RemoveWHRBaseGeometricalBase">
        <xs:annotation>
            <xs:documentation>
                几何图形基本属性
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RemoveWHRBase">
                <xs:attribute name="x" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点x坐标；Rectangle 为左上角坐标x坐标，直线为起点坐标x坐标，其余的几何图形均为中心点坐标x坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点y坐标；Rectangle 为左上角坐标y坐标，直线为起点坐标y坐标，其余的几何图形均为中心点坐标y坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="strokeColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边颜色。支持6位或8位16进制颜色表示，如：#FFFFFF 、#FFFFFFFF，
                            8位中前两位表示透明度，后六位依次表示红、绿、蓝；支持函数argb(255,255,255,255)
                            (argb(透明度，红，绿，蓝)，每个数值在[0-255]范围内）；支持字符串变量，
                            如：@abc，字符串变量需为无#的6或8位16进制表示："ffffff"、“ffffffff"，或argb函数。默认黑色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="fillColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            填充色，支持strokeColor中三种颜色表示。同时，支持通过变量动态改变填充颜色和渐变填充色（FillGradient）。
                            注意：在需要动态改变渐变填充色时需要先设置@color="argb(0,0,0,0)+argb(15,5,5,5)+argb(25,3,10,0)"，
                            并且此时FillGradient中颜色、位置依旧得设置，只是后期可以通过改变@color变量的值动态修改渐变色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="weight" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边宽度，自然数，默认0无描边，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cap" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            线头形状，semicircle/square。semicircle（半圆）, square（方形）,不写表示无线头
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="dottedLine" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            虚线模式。格式“线长,间隔,线长,间隔….”。如dottedLine=”10,20,30,40”，
                            表示10像素宽的线段，20像素的间隔，30像素的线段，40像素的间隔，以上虚线重复出现构成几何图形描边。注：至少两个参数
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="hybridMode" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            共有12种混合模式供选择：clear(0)， ori(1)，tgt(2)，oriOver(3)，tgtOver(4)，
                            oriIn(5)，tgtIn(6)，oriOut(7)，tgtOut(8)，oriATop(9)，tgtATop(10)，xor(11)。
                            可以通过输入字符串或者对应的数字编号来选择混合模式，需要与Group联合使用
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>
    <xs:complexType name="RemoveCategoryBaseGeometricalBase">
        <xs:annotation>
            <xs:documentation>
                几何图形基本属性
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RemoveCategoryBase">
                <xs:attribute name="x" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点x坐标；Rectangle 为左上角坐标x坐标，直线为起点坐标x坐标，其余的几何图形均为中心点坐标x坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="y" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            图形坐标点y坐标；Rectangle 为左上角坐标y坐标，直线为起点坐标y坐标，其余的几何图形均为中心点坐标y坐标，默认为0，单位为像素，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="strokeColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边颜色。支持6位或8位16进制颜色表示，如：#FFFFFF 、#FFFFFFFF，
                            8位中前两位表示透明度，后六位依次表示红、绿、蓝；支持函数argb(255,255,255,255)
                            (argb(透明度，红，绿，蓝)，每个数值在[0-255]范围内）；支持字符串变量，
                            如：@abc，字符串变量需为无#的6或8位16进制表示："ffffff"、“ffffffff"，或argb函数。默认黑色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="fillColor" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            填充色，支持strokeColor中三种颜色表示。同时，支持通过变量动态改变填充颜色和渐变填充色（FillGradient）。
                            注意：在需要动态改变渐变填充色时需要先设置@color="argb(0,0,0,0)+argb(15,5,5,5)+argb(25,3,10,0)"，
                            并且此时FillGradient中颜色、位置依旧得设置，只是后期可以通过改变@color变量的值动态修改渐变色
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="weight" type="xs:decimal" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            描边宽度，自然数，默认0无描边，支持表达式
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cap" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            线头形状，semicircle/square。semicircle（半圆）, square（方形）,不写表示无线头
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="dottedLine" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            虚线模式。格式“线长,间隔,线长,间隔….”。如dottedLine=”10,20,30,40”，
                            表示10像素宽的线段，20像素的间隔，30像素的线段，40像素的间隔，以上虚线重复出现构成几何图形描边。注：至少两个参数
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="hybridMode" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            共有12种混合模式供选择：clear(0)， ori(1)，tgt(2)，oriOver(3)，tgtOver(4)，
                            oriIn(5)，tgtIn(6)，oriOut(7)，tgtOut(8)，oriATop(9)，tgtATop(10)，xor(11)。
                            可以通过输入字符串或者对应的数字编号来选择混合模式，需要与Group联合使用
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>
</xs:schema>
